header {
    background-color: #244751;
    color: #E8FDFF;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
    
}

.comments {
    font-family: 'Caveat', cursive;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo:hover {
    padding: 10px;
    transition: padding 0.5s;
}

a.photo {
    transition: padding 0.5s;
    
}
